html{
  color: white;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 0px;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: dimgrey;
  font-weight: bold;
}
.first{
  height: 100%;
  width: 100%;
  background-image: url("gallery/fire.JPG");
  background-attachment: fixed;
	background-size: cover;
  background-position: center;
  color: black;
}
.second{
  height: 100%;
  width: 100%;
  background-image: url("gallery/fire_new.jpg");
  background-attachment: fixed;
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}
.textcontainer{
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
}
.title{
  font-size: 7vw;
  width: auto;
  margin: 1vw;
  text-align: center;
  text-shadow: 1px 2px #806600;
}
.textsub{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  }
.subtitle{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  font-size: 3vw;
  text-shadow: 1px 2px #806600;
}
.clip{
	scroll-snap-align: start;
	height: 100%;
}
