html{
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
}
body{
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.textcontainer{
  margin: auto;
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}
.clip{
	scroll-snap-align: start;
	height: 100%;
}
