html{
  color: white;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 0px;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: Black;
  font-weight: bold;
}
.first{
  height: 100%;
  width: 100%;
  background-image: url("gallery/fire.JPG");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}
.second{
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
}
.menu{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.button{
  margin: 5px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.textbutton{
  background-color:rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 5px;
  color: violet;
}
.textbutton:link{
  color: green;
}
.textbutton:visited{
  color: red;
}

.textcontainer{
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  display: flex;
}
.title{
  font-size: 7vw;
  width: auto;
  margin: 1vw;
  text-align: center;
  text-shadow: 1px 2px #806600;
}
.textsub{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  }
.subtitle{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  font-size: 3vw;
  text-shadow: 1px 2px #806600;
}
.clip{
	scroll-snap-align: start;
	height: 100%;
}
